.btn {
    text-decoration: none; 
    padding: 16px 40px;
    border-radius: 25px;
    display: inline-flex;
    align-items: center;
    z-index: 999;

    img {
        margin-left: 10px;
    }
    
}

.btn-main {
    background-color: #33b0e6;
    color: #fff;
}

.site-link {
    font-size: 1rem;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    color: #33b0e6;
    img {
        margin-left: 10px;
    }
}